
<html lang="en">
<head>
    <meta charset="UTF-8">
    

    <title>Document</title>
 
  
    <link rel="stylesheet" href="/css/styles.css"  >
    
</head>
<body>
  
  <div class="header">
      <h1>
        Today is <%= kindofDay %> 🌃
      </h1>
  </div>
  <div class="container">
    <h1> <span id="element"></span></h1>
  </div>

  <script src="https://unpkg.com/typed.js@2.0.15/dist/typed.umd.js"></script>

  <script>
    var typed = new Typed('#element', {
      strings: ['Hey this is Shivendra ', 'Nice to meet you &#128513;', 'I\'m still busy coding, Sorry &#128516;','You can message me tho down here 👇;'],
      typeSpeed: 100,
      backSpeed:80,
      loop: true
    });
  </script>


  
  
</body>
</html>